# Go build
/bin/
/build/
/dist/
*.exe
*.out
*.test

# Vendor
/vendor/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env

# Logs
*.log

# Dependency
/go.sum
data/region_database.json
data/settings.json
data/user_activity.json
data/vandalized_pixels.json
# data files (runtime)
data/
!data/easter_eggs.json
!data/.gitkeep
!data/get_shortcuts.json
